@charset "utf-8";
/*-------------公用样式-------------*/
html,body{
	font-size: 14px;
	font-family: 'helvetica neue', 'hiragino sans gb', tahoma, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
}
body,div, img, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6,p,a{
	margin: 0;
	padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
ul, li {
	list-style: none
}
img {
	vertical-align: middle;
	border: 0;
}
::-webkit-scrollbar {
	width: 16px;
	height: 16px;
	background-color: transparent;
	border-radius: 10px;
}
::-webkit-scrollbar:hover {
	background-color: #fcfcfc
}
::-webkit-scrollbar-thumb{
	background: #D8D8D8; 
	border-radius: 10px;
	background-clip: content-box;
	border: 4px solid transparent
}
::-webkit-scrollbar-thumb:hover {
	background: #c2c2c2;
	background-clip: content-box;
}
html,body,div{
	scrollbar-arrow-color: #757778; 
	scrollbar-face-color: #fff;  
	scrollbar-3dlight-color: #fff;  
	scrollbar-highlight-color: #cdced5; 
	scrollbar-shadow-color: #cdced5;  
	scrollbar-darkshadow-color: #fff;
	scrollbar-track-color: #f6f6f6; 
}
/*normalize.css v3.0.3 精简*/
a{
  background-color: transparent;
	outline: 0;
}
a:active,
a:hover {
  outline: 0;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
	vertical-align: middle;
	outline: 0;
	font-size:13px; 
  -webkit-box-sizing: content-box;  
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
button {
  overflow: visible; /*ie11浏览器下取消按钮默认边距*/
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
i nput[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
textarea {
  overflow: auto;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}











